<app-menu></app-menu>
<div>
  <span class="component-title">[{{ title }}]</span>
  <p *ngIf="!product">Loading...</p>
  <div *ngIf="product">
    <main class="single">
      <table class="table table-sm">
        <tr>
          <td style="color: white;">Id:</td>
          <td>
            <input [(ngModel)]="product.id" class="rounded" type="text" disabled />
          </td>
        </tr>
        <tr>
          <td style="color: white;">Vendor:</td>
          <td>
            <input [(ngModel)]="product.vendor.name" class="rounded" type="text" disabled />
          </td>
        </tr>
        <tr>
          <td style="color: white;">PartNumber:</td>
          <td>
            <input [(ngModel)]="product.partNumber" class="rounded" type="text" disabled>
          </td>
        </tr>
        <tr>
          <td style="color: white;">Name:</td>
          <td>
            <input [(ngModel)]="product.name" class="rounded" type="text" disabled />
          </td>
        </tr>
        <tr>
          <td style="color: white;">Price:</td>
          <td>
            <input [(ngModel)]="product.price" class="rounded" type="text" disabled />
          </td>
        </tr>
        <tr>
          <td style="color: white;">Unit:</td>
          <td>
            <input [(ngModel)]="product.unit" class="rounded" type="text" disabled />
          </td>
        </tr>
        <tr>
          <td style="color: white;">PhotoPath:</td>
          <td>
            <input [(ngModel)]="product.photoPath" class="rounded" type="text" disabled />
          </td>
        </tr>
      </table>
    </main>
    <span>
      <span><a routerLink="/product/edit/{{ product.id }}" class="btn btn-sm btn-warning">Edit</a></span>
      <span>
        |
        <button (click)="delete()" class="btn btn-sm btn-danger">
          Delete
        </button></span>
    </span>
    <p style="color: white;" *ngIf="message">{{ message }}</p>
  </div>
</div>